@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;800&display=swap');

/* Definindo padrões de cores */
:root {
  --cor-texto: #e5e5e5;
  --cor-fundo: #141414;
  --cor-links: #fca311;
  --cor-sombra: #e5e5e50e;
  --cor-fundo-caixas: #14213d;
  --cor-hover-links: #3366d6;
  --cor-hover-botao: #192c55;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.card {
  background-color: var(--cor-fundo-caixas);
  color: var(--cor-texto);
}

.btn-primary {
  background-color: var(--cor-links);
  border-color: var(--cor-links);
}

.btn-primary:hover {
  background-color: var(--cor-hover-links);
  border-color: var(--cor-hover-links);
}
